*{
    padding:0;
    margin:0;
    overflow-x:hidden;
}

/* Everything here will affect the class game */
.game {
    width: 500px;
    height: 200px;
    border: 1px solid pink;
    margin:auto;
    background-color: cyan;
}

#character {
    width: 20px;
    height: 50px;
    background-color: beige;
    position: relative;
    top: 150px;
    border-radius:20px;
}

.animate {
    animation:jump 3s linear;
}

@keyframes jump {
    0%{top: 250px;}
    30%{top: 150px;}
    70%{top: 150px;}
    100%{top: 250px;}

}

#block {
    background-color: lavender;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 5s infinite linear;
}

@keyframes block {
    0%{left: 500px}
    100%{left: -20px}
}

p{
    text-align: center;
}
